<div class="{{theme}}">
  <div class="filters">
    <button
      class="filter_button"
      [ngClass]="{ active: category === 'all' }"
      (click)="changeCategory('all')"
    >
      All
    </button>
    <button
      class="filter_button"
      [ngClass]="{ active: category === 'active' }"
      (click)="changeCategory('active')"
    >
      Active
    </button>
    <button
      class="filter_button"
      [ngClass]="{ active: category === 'completed' }"
      (click)="changeCategory('completed')"
    >
      Completed
    </button>
  </div>
</div>
