<div class="{{theme}}">
  <div class="background">
    <header class="header">
      <div class="header_container">
        <h1 class="logo">TODO</h1>
        <button class="switcher" (click)="switchTheme()">
        </button>
      </div>
    </header>
    <app-new-task-input></app-new-task-input>
    <section class="list">
      <ul class="tasks_list" *ngFor="let task of (tasks$ | async)">
        <app-task-item [task]="task">
        </app-task-item>

      </ul>
    </section>
    <div class="summary">
      <p class="task_counter">items left</p>
    </div>
    <button class="clear_btn">Clear Completed</button>
    <app-filters></app-filters>
    <p class="text">Drag and drop to reorder list</p>
  </div>
</div>
